html {
    cursor: url("../imagenes/cursor.png"), auto;
    min-height: 100%;
}

body{
    background-image: url(../imagenes/fondo_hojas.jpeg);

}

header{
    color: black;
}

nav{
    background-color: antiquewhite;
    border-radius: 0.5rem;
    height: 30px;

}

ul{
    list-style: none;
	display: flex;
	height: 20px;
}

li{
    padding: 0 10px;
	font-weight: bold;
}

ul a { 
    color: black;
}

ul a:hover { 
    text-decoration: underline;
    background-color: #9ac9d6;
	font-size: 17px;
    cursor: url("../imagenes/cursor_pulsado.png"), auto;
}



.marcoPrin {
    display: table;
    padding: 15px;
    border-radius: 10px;
    overflow: auto;
}

footer{
 background-color: rgb(250, 235, 215, 0.8);
}

table {
  border-collapse: separate;
  border-spacing: 12px;
}

td, th {
  padding: 8px;
  border: 1px solid black;
}

#FormularioProd > * {
    cursor: url("../imagenes/cursor_pulsado.png"), auto;
}

#dragDrop {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #666;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}

#dragDrop.hover {
    background-color: rgb(207, 207, 207); /* color al arrastrar */
    border-color: rgb(0, 0, 0)}