#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*PONER FONDO*/
body {
  /* Ruta a tu imagen en la carpeta public */
  background-image: url('/imagenes/fondo_hojas.jpeg'); 
  
  /* PROPIEDADES PARA EL PATRÓN (MOSAICO) */
  background-repeat: repeat;       /* Hace que la imagen se repita en horizontal y vertical */
  background-size: auto;           /* Mantiene el tamaño original de la imagen del patrón */
  background-position: top left;   /* Empieza el patrón desde la esquina superior izquierda */
  background-attachment: fixed;    /* El fondo se queda quieto mientras haces scroll */

  margin: 0;
  padding: 0;
  min-height: 100vh;
}